@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="~/css/global.css" type="text/css" />
    <style>
        .form-box {
            border-radius: 2rem;
            background-color: var(--bg-main);
            min-width: 40%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 1rem;
            padding: 2rem 1rem;
            justify-content: space-between;
            box-shadow: 0 0 4px #ccc;
        }

            .form-box * {
                color: #fff;
            }

        .form-box-header {
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin: 3rem 0 1rem 0;
        }

        .form-box button {
            margin-top: 3rem;
            background: black;
            border: 2px solid black;
            border-radius: 0.5rem;
            text-align: center;
            padding: 0.5rem;
            width: 100%;
            background: #black;
            font-weight: 600;
            transition: all 150ms;
        }

        .form-box button:hover {
            border-color:#777;
        }

        .input-box {
            display: block;
            position: relative;
            border: 1px solid #909090;
            border-radius: 0.5rem;
            padding: 0.5rem;
            transition: border 150ms;
        }

            .input-box:hover {
                border-color: #ccc;
        }


            .input-box:focus {
                border-color: #fff;
            }

            .input-box > label {
                position: absolute;
                top: -0.5rem;
                left: 0.75rem;
                font-size: 0.75rem;
                background-color: var(--bg-main);
                padding: 0 0.25rem;
                font-weight: 600;
                color: #fff;
            }

            .input-box > input {
                background-color: transparent;
                padding: 0 0.25rem;
                outline: none;
                border: 0;
                width: 100%;
                color: #fff;
            }

        .img-rocket-like {
            width: 210px;
        }

        .socialTitle {
            font-weight: bold;
            font-size: 30px;
            line-height: 1.4rem;
            text-align: center
        }

        .socialDescription {
            font-weight: bold;
            font-size: 20px;
            line-height: 1.4rem;
            line-height: 1.4rem;
        }
    </style>
</head>

<div style="margin: 0 auto; width: 90vw;">
    <div style="display: flex; flex-direction: column; align-items: end; height: 100vh;">
        <h1 style="margin: 1rem 0">SocialLike</h1>
        <div style="display: flex; gap: 0.5rem; height: 100%; align-items: center; justify-content: space-between; width: 100%;">
            <div style="display: flex; flex-direction: column; gap: 1.5rem; align-items: center;">
                <h2 class="socialTitle">SocialLike</h2>
                <img class="img-rocket-like" src="~/img/rocket-like.png" alt="" />
                <p class="socialDescription">
                    O SocialLike ajuda você a se conectar e compartilhar com as pessoas que fazem parte da sua vida.
                </p>
            </div>
            <div style="display: flex; gap: 1rem; justify-content: end; min-width: 70%;">
                <form id="login-form" action="/Login/Login" method="post" class="form-box">
                    <div class="form-box-header">
                        <h2>Já possui conta?</h2>
                        <p>FAÇA SEU LOGIN:</p>
                    </div>
                    <div class="input-box">
                        <label id="usuarioautentica.email" name="usuarioautentica.email">Email</label>
                        <input name="email" type="email" value="fulano@gmail.com" />
                    </div>
                    <div class="input-box">
                        <label id="usuarioautentica.senha" name="usuarioautentica.senha">Senha</label>
                        <input name="senha" type="password" value="umasenhamuitoforte" />
                    </div>
                    <button type="submit">ENTRAR</button>
                </form>

                <form id="register-form" action="/Login/Cadastrar" method="post" class="form-box">
                    <div class="form-box-header">
                        <h2>Quer criar sua conta?</h2>
                        <p>VAMOS COMEÇAR!</p>
                    </div>
                    <div class="input-box">
                        <label id="usuariocadastra.nome" name="usuariocadastra.nome">Nome</label>
                        <input name="nome" type="text" />
                    </div>
                    <div class="input-box">
                        <label id="usuariocadastra.sobrenome" name="usuariocadastra.sobrenome">Sobrenome</label>
                        <input name="sobrenome" type="text" />
                    </div>
                    <div class="input-box">
                        <label id="usuariocadastra.telefone" name="usuariocadastra.telefone">Telefone</label>
                        <input name="telefone" type="number" />
                    </div>
                    <div class="input-box">
                        <label id="usuariocadastra.dataComemorativa" name="usuariocadastra.dataComemorativa">Data de nascimento</label>
                        <input name="datacomemorativa" type="date" />
                    </div>
                    <div class="input-box">
                        <label id="usuariocadastra.email" name="usuariocadastra.email">Email</label>
                        <input name="email" type="email" />
                    </div>
                    <div class="input-box">
                        <label id="usuariocadastra.senha" name="usuariocadastra.senha">Senha</label>
                        <input name="senha" type="password" />
                    </div>
                    <button type="submit">CADASTRAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
