@{
    ViewData["Title"] = "Feed";
}

<div>
    <div class="header">
        <h2 class="header-title">Rede Social</h2>
        <input class="header-search" type="text" />
        <div class="header-avatar avatar">
            <p class="header-avatar-name">Olivia Wilson</p>
            <img class="header-avatar-img" src="./assets/img/avatar.png" alt="" />
        </div>
    </div>
    <div style="display: flex">
        <div class="sidebar">
            <div style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          ">
                <a href="#" class="avatar">
                    <div class="avatar-border">
                        <img src="./assets/img/avatar.png" alt="" />
                    </div>
                    <span>Nome</span>
                </a>
                <a href="#"> ADD </a>
            </div>
            <a href="#" class="avatar">
                <div class="avatar-border">
                    <img src="./assets/img/avatar.png" alt="" />
                </div>
                <span>Nome</span>
            </a>
        </div>

        <div class="feed main">
            <div class="post">
                <div class="avatar">
                    <img src="./assets/img/avatar.png" alt="" />
                    <p>Nome</p>
                </div>
                <img src="./assets/img/gato.jpg" alt="" />
                <p class="post-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text.
                    Lorem Ipsum has been the industry's standard dummy text.
                </p>
                <div style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            ">
                    <div style="display: flex; gap: 3px">
                        <button type="button" class="post-button">
                            <img src="./assets/img/foguete.png" alt="" />
                        </button>
                        <button type="button" class="post-button">
                            <img src="./assets/img/comentário.png" alt="" />
                        </button>
                    </div>
                    <span style="
                font-size: small;
                border-radius: 1rem;
                background: #1c1c39;
                color: #fff;
                height: fit-content;
                padding: 0.3rem;
              ">
                        1895 curtidas e 2 comentários
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
